
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/tjr_icon.png" class="img-rounded" />

    <title>Tarang's Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
  </head>

  <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}" style="font-family:BlackChancery;"><h3>It's me,Tarang!</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#projects">Projects</a>
                <a class="nav-item nav-link" href="https://www.linkedin.com/in/tarang-ranpara-319467130/">LinkedIn</a>
                <a class="nav-item nav-link" href="{% static 'tjr.pdf' %}">Resume</a>
                <a class="nav-item nav-link" href="blog/">Blog</a>
              </div>
            </div>
          </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hello World, I'm Tarang.</h1>
          <br>
          <!--<img src="{% static 'tjr_pic.png' %}" alt="" height="10%"> --> 
          <p class="lead text-muted">
              
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">I'm Tarang ranpara, currently pursuing Computer science engineeing in the city of Rajkot.</li>
                  <li class="list-group-item">Basically, I'm <strong>Pythonista</strong>. I'm passionate about <b>Machine learning</b> ( Btw, who doesn't? :) ) and I enjoy to code in <b>Django</b> as well.
                    I've done many personal projects too(mostly in <b>Python,C++</b>).</li>
                  <li class="list-group-item">Apart from Academic or Tech field, I enjoy reading books, newspapers and I'm also a big fan of  Q-A sites like <strong>Quora</strong>, <strong>Medium</strong> and <strong> Reddit </strong> etc.</li>
                  <li class="list-group-item">I'm fan of <B>Ed sheeran</B> for his songs & TV series like <i><b>"How i met your mother", "friends", "silicon valley",  "13 reasons why", "pitchers"</i></b> etc. make my day complete.</li>
              </ul>

          </p>
          <p>
            <a href="mailto:tarangranpara1998@gmail.com" class="btn btn-primary my-2">Mail me!</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light" id="projects">
        <div class="container">
          <h3 class="text-center">My Projects</h3>
          <hr>
          <br>

          <div class="row">
            
            {% for job in jobs.all %}
              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src= "{{ job.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      {{ job.summary }}
                    </p>
    
                  </div>
                </div>

            {% endfor %}
            </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
          <p> © Tarang Ranpara {% now 'Y' %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>




